@mixin transitioning($t) {
  -moz-transition: all $t ease-in-out;
  -webkit-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}

@mixin borderRadius($br) {
  -moz-border-radius: $br;
  -webkit-border-radius: $br;
  -o-border-radius: $br;
  border-radius: $br;
}

@mixin customBorderRadius($tl, $tr, $br, $bl) {
  -moz-border-radius: $tl $tr $br $bl;
  -o-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin menuHoverEffect {
  overflow: hidden;
  margin: 0 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 18px;
  a {
    text-decoration: none;
    color: $darkGrey;
    @include transitioning(0.4s);
    &.router-link-exact-active {
      color: $mainColor;
      font-weight: 600;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        border-bottom: 2px dotted $mainColor;
        @include transitioning(0.4s);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0;
    display: block;
    width: 100%;
    border-bottom: 2px dotted $mainColor;
    @include transitioning(0.4s);
  }
  &:hover {
    a {
      color: $mainColor;
    }
  }
  &:hover::before {
    left: 0;
  }
}

@mixin btnHoverEffect {
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 50px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
  }

  .btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-white {
    background-color: $secondaryColor;
    color: $white;
  }

  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  .btn-white::after {
    background-color: $secondaryColor;
    opacity: 0.3;
  }

  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 0.3;
    transform: translateY(0px);
  }
}

@mixin btnSkewBackground {
  width: 100%;
  text-align: center;
  background: $white;
  button {
    position: relative;
    background: $mainColor;
    color: $white;
    padding: 10px 30px;
    border: 2px solid $mainColor;
    @include borderRadius(25px);
    overflow: hidden;
    z-index: 1;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      color: $mainColor;
      &::after {
        transform: skewX(45deg) scale(1, 1);
        @include transitioning(0.4s);
      }
    }
    &::after {
      content: "";
      background: $white;
      position: absolute;
      z-index: -1;
      left: -10%;
      right: -10%;
      top: 0;
      bottom: 0;
      padding: 0.85em 0.75em;
      display: block;
      transform: skewX(45deg) scale(0, 1);
      @include transitioning(0.4s);
    }
  }
}

@mixin mainHeaderStyle {
  padding: 12px;
  margin: 0;
  position: relative;
  background: linear-gradient(to right, $secondaryColor, $mainColor);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
  }
  &::before {
    bottom: 0;
    left: 0;
    border-bottom: 2px solid $secondaryColor;
    border-left: 2px solid $secondaryColor;
    border-radius: 0 0 0 5px;
  }
  &::after {
    top: 0;
    right: 0;
    border-left: none;
    border-top: 2px solid $secondaryColor;
    border-right: 2px solid $secondaryColor;
    border-radius: 0 5px 0 0;
  }
}

@mixin flexCenterAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexStartAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexSpaceBetweenAlignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexEndAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin textWraper {
  word-break: break-word;
  word-spacing: 2px;
  font-size: 18px;
  color: $lightGrey;
  line-height: 1.6;
  text-align: start;
}

@mixin simpleShadow {
  box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.3);
}

@mixin midShadow {
  box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

@mixin heighShadow {
  box-shadow: 0 0 10px 2px rgba(180, 180, 180, 0.6);
}

@mixin heighDarkInsetShadow {
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.2);
}
