.about {
  padding-block: $paddingAmount;
  // background-image: url("../images/shapes/striples-bg.svg");
  background-size: cover;
  background-repeat: repeat;

  .header_wraper {
    @include flexCenterAlignment;
    margin-bottom: 25px;
    h2 {
      @include mainHeaderStyle;
    }
  }

  .about_us_img_wraper {
    img {
      min-width: 200px;
      max-width: 200px;
      min-height: 500px;
      max-height: 500px;

      
      @media ( max-width: 767px ) {
        min-width: 150px;
        max-width: 150px;
        min-height: 350px;
        max-height: 350px;
      }
    }
  }

  .text_wraper {
    margin-block: 30px;
    @include textWraper;
    font-size: 20px;

    @media ( max-width: 767px ) {
      text-align: justify;
      font-size: 18px;
    }
  }
}