.faqs {
  padding: $paddingAmount 0;
  background: url('../images/shapes/header-sape6.png'), url('../images/shapes/9.png');
  position: center;
  background-repeat: repeat;
  background-size: cover;

  .header_wraper {
    @include flexCenterAlignment();
    margin-bottom: 25px;
    h2 {
      @include mainHeaderStyle();
    }
  }

  .accordion {
    .accordion-item {
      @include borderRadius(10px);
      .accordion-header {    
        padding: 0;
        border-bottom: none;              
        button,
        a {
          width: 100%;
          padding: 15px;
          border: none;
          background-color: transparent;
          text-decoration: none;
          text-align: start;
          color: $mainColor;
          background-color: $white;
          font-size: 18px;
          line-height: 1.7;
          @include borderRadius(10px);
          @include flexStartAlignment();
          &::after {
            display: none;
          }
          svg {
            margin-inline-end: 8px;
            @include transitioning(0.4s);
          }
          &[aria-expanded='true'] {
            @include customBorderRadius(10px, 10px, 0, 0);
            color: $white;
            background-image: linear-gradient(to right, $mainColor, $secondaryColor);
            svg {
              color: $white;
              transform: rotate(-90deg);
            }

            @media ( max-width: 767px ) {
              font-size: 16px;
            }
          }

          &:focus {
            box-shadow: none
          }
        }
      }

      .accordion-body {
        @include textWraper();
        font-size: 16px;
        padding-inline-start: 35px;
        text-align: start;
        border-top: none;

        @media ( max-width: 767px ) {
          font-size: 15px;
        }
      }
    }
  }

}