.home {
  position: relative;
}

// START:: HOME INTRO STYLES
.home_intro {
  position: relative;
  padding-block: $paddingAmount;
  background-image: url("../images/shapes/header-sape4.png"), url("../images/shapes/9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .outer_wraper {
    &:first-child {
      z-index: 2 !important;
    }
    &:last-child {
      z-index: 1 !important;
    }
  }

  .title_img_wraper {
    @include flexCenterAlignment;
    img {
      width: 230px;
      height: 260px;
    }
  }

  .title_wraper {
    @include flexCenterAlignment;
    h1 {
      width: 80%;
      padding-block: 20px;
      background: linear-gradient(to right, $secondaryColor, $mainColor);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-size: 20px;
      font-weight: 900;
    }
  }

  .intro_text_wraper {
    @include textWraper;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
  }

  .btns_wraper {
    width: 50%;   
    @include flexSpaceBetweenAlignment;
    margin-block: 25px;
    .text-box {
      @include btnHoverEffect;
      a, 
      button {
        font-size: 15px;
        width: 16%;
        margin-inline-end: 20px;
        text-align: center;
        left: 40%;
        transform: translateX(50%);
      }

      &:first-child {
        a, 
        button {
          left: auto;
          right: 24%;
        }
      }    
    }
  }

  .img_wraper {
    img {
      width: 360px;
      height: 515px;
    }
  }


  @media ( max-width: 767px ) {
    .title_img_wraper {
      position: absolute;
      left: 3%;
      top: 22%;
      z-index: 3;
      img {
        width: 190px;
        height: 220px;
      }
    }

    .title_wraper {
      h1 {
        width: 100%;
        font-size: 17px;
        margin-bottom: 0;
        padding-block: 10px;
      }
    }

    .intro_text_wraper {
      font-weight: 900;
      font-size: 20px;
    }

    .btns_wraper {
      width: 100%;   
      .text-box {
        @include btnHoverEffect;
        a, 
        button {
          width: 40%;
          left: -14%;
        }  
      }
    }

    .img_wraper {
      text-align: start;
      img {    
        width: 210px;
        height: 420px;
      }
    }
  }
}
// END:: HOME INTRO STYLES

// START:: ABOUT US STYLES
.about_us {
  padding-block: $paddingAmount;
  background-image: linear-gradient(to right, $mainColor, $secondaryColor);
  position: relative;

  .upper_shape_wraper,
  .lower_shape_wraper {
    position: absolute;
  }

  .upper_shape_wraper {
    transform: rotate(180deg);
    top: -3px;
    left: 0;
    right: 0;
  }

  .lower_shape_wraper {
    bottom: -3px;
    left: 0;
    right: 0;
  }

  .img_wraper {
    @include flexCenterAlignment;
    position: relative;
    bottom: -40px;
    img {
      width: 260px;
      height: 500px;
    }
  }

  .title_wraper {
    @include flexCenterAlignment;
    h2 {
      color: $white;
    }
  }

  .text_wraper {
    @include textWraper;
    color: $white;
  }

  .btn_wraper {
    width: 50%;   
    @include flexCenterAlignment;
    margin-block: 25px;
    .text-box {
      @include btnHoverEffect;
      .btn-white {
        background-color: $white;
        color: $secondaryColor;
      }
      .btn-white::after {
        background-color: $white;
      }
    }
    a, 
    button {
      font-size: 15px;
      width: 30%;
      text-align: center;
    }
  }

  @media ( max-width: 767px ) {
    .img_wraper {
      img {
        width: 200px;
        height: 410px;
      }
    }

    .text_wraper {
      font-size: 16px;
      text-align: justify;
    }

    .btn_wraper {
      width: 100%;
      a, 
      button {
        width: 60%;
        padding: 8px 20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
// END:: ABOUT US STYLES

// START:: BEFORE AND AFTER STYLES
.before_after {
  padding-block: $paddingAmount;
  background-image: url("../images/shapes/header-sape4.png"), url("../images/shapes/9.png");
  background-position: center;
  background-repeat: repeat;
  .title_wraper {
    @include flexCenterAlignment;
    margin-bottom: 25px;
    h2 {
      @include mainHeaderStyle;
    }
  }

  .before_after_carousel_wraper {
    .splide {
      &.splide--slide {
        .splide__track {
          padding-block: 10px;
        }
      }
    }
  }

  .card {
    border: none;
    padding: 0;
    @include borderRadius(15px);
    @include midShadow;
    .image_wraper {
      width: 100%;
      img {
        @include customBorderRadius(15px, 15px, 0, 0);
        width: 100%;
        max-height: 300px;
      }
    }

    .card_body_wraper {
      padding: 15px;
      text-align: center;
      h5 {
        font-weight: 600;
        background: linear-gradient(to right, $secondaryColor, $mainColor);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .description {
        @include textWraper;
        font-size: 16px;
      }
    }
  }

  .btn_wraper {
    width: 100%;   
    @include flexCenterAlignment;
    margin-block: 25px;
    .text-box {
      @include btnHoverEffect;
    }
    a, 
    button {
      font-size: 15px;
      width: 20%;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media ( max-width: 767px ) {
    .btn_wraper {
      a, 
      button {
        width: 50%;
        padding: 8px 20px;
      }
    }
  }
}
// END:: BEFORE AND AFTER STYLES

// START:: COURSES STYLES
.courses {
  min-height: 350px;
  padding: $paddingAmount;
  background-image: url("../images/shapes/row-bgimage-3.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;

  .upper_shape_wraper,
  .lower_shape_wraper {
    position: absolute;
    z-index: 2;
  }

  .upper_shape_wraper {
    transform: rotate(180deg);
    top: -3px;
    left: 0;
    right: 0;
  }

  .lower_shape_wraper {
    bottom: -3px;
    left: 0;
    right: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 201, 150, 0.09);
    @include flexCenterAlignment;
  }

  .title_wraper {
    @include flexCenterAlignment;
    h2 {
      margin-bottom: 0;
      margin-inline-end: 10px;
      font-size: 2.3rem;
      font-weight: 700;
      background: linear-gradient(to right, $secondaryColor, $mainColor);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @media ( max-width: 800px ) {
      display: inline-block;
      h2 {
        text-align: center;
        font-size: 1.8rem;
        margin-inline-end: 0;
        margin-bottom: 15px;
      }
    }

    .loading {
      @include flexCenterAlignment;
      span {
        display: block;
        margin-inline: 4px;
        width: 10px;
        height: 10px;
        @include borderRadius(50%);
        &:nth-child(odd) {
          background-color: $secondaryColor;
        }
        &:nth-child(even) {
          background-color: $mainColor;
        }
        animation-name: waiting;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        &:nth-child(1) {
          animation-delay: 0s;
        }
        &:nth-child(2) {
          animation-delay: 0.5s;
        }
        &:nth-child(3) {
          animation-delay: 1s;
        }
        &:nth-child(4) {
          animation-delay: 1.5s;
        }
        &:nth-child(5) {
          animation-delay: 2s;
        }
      }
    }
  }
}

@keyframes waiting {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
// END:: COURSES STYLES