.landing {
  background-color: $light-brown;
  border-radius: 20px 20px 0 0;
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;

  .text_wraper {
    .title {
      color: $dark-color;
      h3 {
        color: #666;
      }
      h1 {
        font-weight: 700;
      }
    }

    .text {
      font-size: 20px;
      line-height: 1.7;
      word-spacing: 2px;
      color: $dark-color;
      word-break: break-word;
      text-align: start;
    }

    .btns_wraper {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 200px;
        &:first-child {
          margin-inline-end: 10px;
        }
      }
    }
  }

  .main_img_wraper {
    img {
      width: 100%;
      height: auto;
    }
  }
}