// START:: HOME INTRO STYLES
.home_intro {
  padding-block: $paddingAmount;
  background-image: url("../images/shapes/header-sape4.png"), url("../images/shapes/9.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  .intro_text_wraper {
    @include textWraper;
  }

  .btns_wraper {
    @include flexStartAlignment;
    margin-block: 25px;
    a, 
    button {
      @include btnHoverEffect;
      font-size: 15x;
      width: 40%;
      margin-inline-end: 20px;
      text-align: center;
    }
  }

  .img_wraper {
    img {
      width: 360px;
      height: 515px;
    }
  }
}
// END:: HOME INTRO STYLES

// START:: ABOUT US STYLES

// END:: ABOUT US STYLES