.questions {
  padding-block: $paddingAmount;
  background-image: url("../images/shapes/striples-bg.svg");
  background-position: center;
  background-size: cover;

  .questions_main_title {
    text-align: center;
    font-weight: 900;
    background: linear-gradient(to right, $secondaryColor, $mainColor);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .questions_content_wraper {
    min-height: calc(100vh - 580px);
    padding-block: $paddingAmount;
    direction: rtl;

    #name {
      margin-bottom: 35px;
      padding-block: 12px;
      @include borderRadius(8px);
      &:focus {
        box-shadow: none;
      }
    }

    .vue-phone-number-input {
      .select-country-container {
        .country-selector__input {
          border-radius: 0 8px 8px 0 !important;
          border-left: none !important;
          &:focus {
            box-shadow: none !important;
          }
        }
        
        .country-selector__list {
          height: 130px !important;
          max-height: 130px !important;
        }
      }

      .input-tel {
        &.input-phone-number {
          .input-tel__input {
            border-radius: 8px 0 0 8px !important;
            direction: ltr;
            &:focus {
              box-shadow: none !important;
            }
          }
        }
      }


    }

    .question_text_wraper {
      margin-bottom: 25px;
      h3 {
        @include textWraper;
        font-size: 1.7rem;
        background: linear-gradient(to right, $mainColor, $secondaryColor);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        margin-bottom: 15px;
      }

      @media ( max-width: 767px ) {
        h3 {
          font-size: 1.3rem;
        }
      }
    }

    .v-input {
      .v-input__control {
        .v-input__slot {
          .v-slider {
            .v-slider__track-container {
              height: 12px;

              .v-slider__track-background, 
              .v-slider__track-fill {
                @include borderRadius(25px);
              }

              .v-slider__track-background {
                background-color: transparent !important;
                border: 1px solid $mainColor !important;
              } 

              .v-slider__track-fill {
                background-color: $mainColor !important;
              }
            }

            .v-slider__thumb-container {
              .v-slider__thumb {
                width: 20px;
                height: 20px;
                background-color: transparent !important;
                background-image: linear-gradient(to right, $darkGrey, $lightGrey, $lighterGrey);
                &:hover {
                  &::before {
                    opacity: 0.3 !important;
                  }
                }
                &::before {
                  opacity: 0 !important;
                  width: 28px;
                  height: 28px;
                  left: -4px;
                  top: -4px;
                  color: $darkGrey;
                  @include transitioning(0.3s);
                }
              }
            }
          }
        }
      }
    }

    .answers_list {
      list-style: none;
      padding: 0;
      margin: 0;
      @include flexSpaceBetweenAlignment;
      flex-wrap: wrap;
      
      @media ( max-width: 767px ) {
        @include flexCenterAlignment;
        li {
          margin-inline: 8px;
        }
      }

      li {
        &.selected_answer {
          img {
            padding: 2px;
            border: 2px solid $mainColor;
          }
        }
        
        label {
          input[type="radio"] {
            display: none;
          }
          img {
            @include borderRadius(10px);
            @include midShadow;
            min-width: 200px;
            max-width: 200px;
            min-height: 200px;
            max-height: 200px;
            margin-bottom: 20px;
          }

          @media ( max-width: 767px) {
            img {
              min-width: 120px;
              max-width: 120px;
              min-height: 120px;
              max-height: 120px;
            }
          }
        }
      }
    }
  }

  @media ( max-width: 767px ) {
    .questions_main_title {
      font-size: 1.3rem;
    }

    .questions_content_wraper {
      padding-block: 0;
    }
  }

  .vue-form-wizard {
    direction: ltr;
    .wizard-header {
      display: none;
    }
    .wizard-navigation {
      .wizard-progress-with-circle {
        height: 10px !important;
        border: 1px solid $mainColor;
        @include borderRadius(25px);
        @include simpleShadow;
        overflow: hidden;
        .wizard-progress-bar {
          background-color: $mainColor !important;
          color: $mainColor !important;
        }
      }

      .wizard-nav {
        li {
          margin-bottom: 20px;
          .stepTitle {
            display: none !important;
          }

          
          .wizard-icon-circle {
            display: none !important;
          }
        }
      }

      .wizard-tab-content {
        padding-inline: 0 !important;
      }
    }

    .wizard-card-footer {
      .wizard-footer-left,
      .wizard-footer-right {
        span {
          button {
            @include btnHoverEffect;
            background-color: $mainColor !important;
            border-color: $mainColor !important;
            @include borderRadius(20px);
          }
        }
      }
    }

  }
}

