// ==== var
$dark-green: #1c7834;
$light-green: #56b06d;
$lighter-brown: #FAF7EF;
$dark-brown: #b18825;
$mid-brown: #D5B361;
$light-brown: #f6efdc;
$dark-color: #3b3b3b;
$gold-color: rgb(255, 217, 0);
$light-color: #ffffff;
$gray-color: #D8D8D8;
$font-semiBold: "semiBold";
$font-bold: "fontBold";
$font-light: "fontLight";
$dashboard-padding: 95px 20px 10px 130px;
