// ==== VARIABLES
@import "./varibles/_variables.scss";

// ==== MIXINS
@import "./mixins/mixins.scss";

// ==== LOADER
@import "components/loader";

// ==== ANIMATION
@import "components/_animation.scss";




// ==== Global Style
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $lighterGrey;
}

::-webkit-scrollbar-thumb {
  background: $mainColor;
  border-radius: 0px;
  transition: 0.5s;
}

* {
  outline: none;
  &:focus {
    box-shadow: none;
  } 
}

body {
  overflow-x: hidden;
  background-color: red;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $darkGrey;
  transition: all 0.5s ease-in-out !important;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
